body{
    padding: 0;
    margin: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.filters{
    background-color: #FFF;
    height:70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
